.footer {
  background-color: #0f172a;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 256px;
}
.Name {
  margin: 0px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'DM Sans';
  font-style: italic;
}
.description {
  color: #ffffff;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-us-container {
  display: flex;
  flex-direction: row;
}
.icon-bg {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contact-icon {
  width: 40px;
  height: 40px;
  color: #ffffff;
  align-self: center;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 454px;
  }
  .Nmae {
    font-size: 22px;
  }
}
